<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        .c10 {
            -webkit-text-decoration-skip: none;
            font-weight: 700;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            font-style: normal
        }

        .c0 {
            font-weight: 700;
            text-decoration: none;
            font-style: normal
        }

        .c28 {
            font-style: italic;
            font-weight: 700
        }

        p,
        td {
            margin: 0;
            color: #000000;
            line-height: 1.15;
            font-size: 10pt;
            font-family: "Times";
            font-weight: 400;
            text-decoration: none;
            font-style: normal
        }

        .c33 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }
    </style>
</head>

<body class="c33 doc-content">
    <table width="100%">
        <tr align="left" valign="middle">
            <td>Nomor</td>
            <td>:</td>
            <td> </td>
        </tr>
        <tr align="left" valign="middle">
            <td>Sudah terima dari</td>
            <td>:</td>
            <td> Pemerintah Kabupaten Malang </td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr align="left" valign="middle">
            <td>Jumlah Terbilang</td>
            <td>:</td>
            <td> <span class="c28">Seratus Lima Belas Juta Empat Ratus Empat Puluh Ribu</span></td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr align="left" valign="middle">
            <td>untuk Pembayaran</td>
            <td>:</td>
            <td> Angsuran ke I (100 %) </td>
        </tr>
        <tr align="left" valign="middle">
            <td>Pekerjaan</td>
            <td>:</td>
            <td> <span class="c0">Pengadaan Toilet Portable Biorcih </span></td>
        </tr>
        <tr align="left" valign="middle">
            <td>lokasi</td>
            <td>:</td>
            <td> DPKPCK </td>
        </tr>
        <tr align="left" valign="middle">
            <td colspan="3"><br>Berdasarkan Surat Perjanjian Kerja/Kontrak :</td>
        </tr>
        <tr align="left" valign="middle">
            <td>Nomor</td>
            <td>:</td>
            <td> 602/13.TU.SPMK/35.07.111/2022 </td>
        </tr>
        <tr align="left" valign="middle">
            <td>Tanggal</td>
            <td>:</td>
            <td> 28 Juli 2022 </td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr align="left" valign="middle">
            <td>Terbilang</td>
            <td>:</td>
            <td> <span class="c0">Rp. 115,440,000. 00</span></td>
        </tr>
    </table>
    <br>
    <br>
    <table width="100%">
        <tr align="center" valign="top">
            <td colspan="4">
                <p>Lunas Tanggal : 09 November 2022</p>
                <p>Yang menerima </p>
                <p>CV. MITRACOM MALANG </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class="c10">FRANSISCUS XAVERIUS NURSETO</p>
                <p>Direktur </p>
                <br>
            </td>
        </tr>
        <tr align="center" valign="top">
            <td width="25%">
                <p>Pejabat Penatausahaan Keuangan </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class="c10">Ir. R. ANANG UDAYANA, Sp.1</p>
                <p>Pembina </p>
                <p>NIP. 19671021 199502 1 001 </p>
            </td>
            <td width="25%">
                <p>Pejabat Pembuat Komitmen Kegiatan Administrasi Umum Perangkat Daerah </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class="c10">ZULFIKAR M. YAMIN L, ST</p>
                <p>Penata Tk. I </p>
                <p>NIP. 19810604 200903 1 009 </p>
            </td>
            <td width="25%">
                <p>Pejabat Pelaksana Teknis Kegiatan Administrasi Umum Perangkat Daerah </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class="c10">MARIA AGUSTINA SA</p>
                <p>Penata </p>
                <p>NIP. 19780131 199703 2 002 </p>
            </td>
            <td width="25%">
                <p>Bendahara Pengeluaran </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class="c10">EKO HARI CAHYADI</p>
                <p>Pengatur Tk. I</p>
                <p>NIP. 19741128 200701 1 012 </p>
            </td>
        </tr>
        <tr align="center" valign="top">
            <td colspan="4">
                <br>
                <p>Setuju dibayar : </p>
                <p>KEPALA DINAS </p>
                <p>PERUMAHAN, KAWASAN PERMUKIMAN DAN CIPTA KARYA <br> KABUPATEN MALANG </p>
                <p>selaku </p>
                <p>Pengguna Anggaran </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class="c10">Dr. Ir. BUDIAR, MS.i</p>
                <p>Pembina Utama Muda </p>
                <p>NIP. 19701119 199603 1 004 </p>
            </td>
        </tr>
    </table>
</body>

</html>