<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        .c35 {
            -webkit-text-decoration-skip: none;
            color: #000000;
            font-weight: 700;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            font-style: normal
        }

        .c14 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            font-style: italic
        }

        .c3 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            font-style: normal
        }

        p,
        td {
            margin: 0;
            color: #000000;
            line-height: 1.15;
            font-size: 11pt;
            font-family: "Times";
            font-weight: 400;
            text-decoration: none;
            font-style: normal
        }

        .c10 {
            font-size: 10pt !important;
        }

        .c33 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }
    </style>
</head>

<body class="c33 doc-content">
    <table border="1" cellspacing="0" cellpadding="5">
        <tr>
            <td class="c10" width="55%">
                <span class="c3">KEGIATAN : </span>Administrasi Umum Perangkat Daerah
                <br><span class="c3">SUB KEGIATAN : </span>Penyediaan Peralatan dan Perlengkapan Kantor
            </td>
            <td align="center" class="c10 c3" valign="middle">
                BERITA ACARA SERAH TERIMA
                <br>PEKERJAAN PELAKSANAAN
            </td>
        </tr>
        <tr valign="top">
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr valign="top">
                        <td class="c10">Pekerjaan</td>
                        <td class="c10">&ensp;:&ensp;</td>
                        <td class="c10"> Pengadaan Toilet Portable Biorcih</td>
                    </tr>
                    <tr valign="top">
                        <td class="c10">Lokasi</td>
                        <td class="c10">&ensp;:&ensp;</td>
                        <td class="c10"> DPKPCK</td>
                    </tr>
                </table>
            </td>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr valign="top">
                        <td class="c10">Nomor</td>
                        <td class="c10">&ensp;:&ensp;</td>
                        <td class="c10">642/1.9.TU/35.07.111/2022 </td>
                    </tr>
                    <tr valign="top">
                        <td class="c10">Tanggal</td>
                        <td class="c10">&ensp;:&ensp;</td>
                        <td class="c10">8 Agustus 2022 </td>
                    </tr>
                    <tr valign="top">
                        <td class="c10">Lampiran</td>
                        <td class="c10">&ensp;:&ensp;</td>
                        <td class="c10">Berita Acara Pemeriksaan Hasil Pekerjaan</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <br>

    <p>Pada hari ini <span class="c3">Rabu </span>
        Tanggal <span class="c3">Sembilan </span>
        Bulan <span class="c3">Agustus </span>
        Tahun <span class="c14">Dua Ribu Dua Puluh Dua</span>,
        kami yang bertanda tangan dibawah ini : </span>
    </p>

    <p>I. Nama : ZULFIKAR M. YAMIN L, ST </p>
    <p>Jabatan : Kasubag Perencanaan, Evaluasi dan Pelaporan pada Dinas Perumahan, Kawasan Permukiman Dan Cipta Karya
        Kabupaten Malang selaku Pejabat Pembuat Komitmen </p>
    <p>Alamat Kantor : Jl. Trunojoyo Kav. VI Kepanjen - Kabupaten Malang </p>
    <p>Selajutnya disebutkan sebagai <span class="c3">PENGGUNA JASA</span>.</p>
    <br>
    <p>II. Nama : FRANSISCUS XAVERIUS NURSETO </p>
    <p>Jabatan : Direktur </p>
    <p>Alamat Kantor : Jl. Kedawung 95 Kav 1 RT 3 RW 7 Malang </p>
    <p>Selanjutnya disebut sebagai <span class="c3">PENYEDIA BARANG / JASA. </p>
    <p>Kedua belah pihak berdasarkan : </p>
    <p>1. Surat Perintah Kerja </p>
    <p>Nomor : 602/13.TU.SPMK/35.07.111/2022 </p>
    <p>Tanggal: 28 Juli 2022 </p>
    <p>2. Surat Perjanjian </p>
    <p>Nomor : 663/13.TU.PL.SPK/35.07.111/2022 </p>
    <p>Tanggal : 28 Juli 2022 </p>
    <p>3. Berita Acara Pemeriksaan Pekerjaan </p>
    <p>Nomor : 642/1.9.BK/35.07.111/2021 </p>
    <p>Tanggal : 8 Agustus 2022 </p>
    <br>
    <p>Dengan ini telah setuju dan sepakat untuk melakukan Serah Terima Pekerjaan Pelaksanaan dengan ketentuan-ketentuan
        sebagai berikut : </p>
    <p align="center" class="c3">Pasal 1</p>
    <p>PENYEDIA JASA menyerahkan kepada PENGGUNA JASA dan PENGGUNA JASA menerima dari PENYEDIA JASA seluruh hasil
        pekerjaan Pengadaaan untuk: </p>
    <p>1. Kegiatan : Administrasi Umum Perangkat Daerah </p>
    <p>2. Pekerjaan : Pengadaan Toilet Portable Biorcih </p>
    <p>3. Lokasi : DPKPCK </p>
    <p>4. Departemen/Instansi : Dinas Perumahan, Kawasan Permukiman Dan Cipta Karya Kabupaten Malang </p>
    <p>5. DPA/DPPA SKPD : </p>
    <p class="c9">&emsp; Nomor : DPA/A.1/1.04.1.03.2.11.06.0000/001/2022 </p>
    <p class="c9">&emsp; Tanggal : 4 Januari 2022 </p>
    <p>6. Penyedia jasa : CV. MITRACOM MALANG </p>
    <p>7. Biaya : <span class="c3">Rp. 115,440,000. 00 </p>
    <p class="c14">(Seratus Lima Belas Juta Empat Ratus Empat Puluh Ribu Rupiah)</p>

    <p align="center" class="c3">Pasal 2</p>
    <p>Penyerahan sebagaimana dimaksud dalam pasal 1 diatas berupa keseluruhan pekerjaan sesuai dengan Surat Perjanjian
        Kerja/Kontrak Nomor 663/13.TU.PL.SPK/35.07.111/2022, Tanggal 28 Juli 2022 dengan lokasi DPKPCK berupa Pengadaan
        Toilet Portable Biorcih. </p>
    <br>
    <p>Demikian Berita Acara Serah Terima Pekerjaan Pelaksanaan ini dibuat dan ditanda tangani di Malang pada tanggal
        tersebut diatas, dalam rangkap secukupnya untuk dipergunakan sebagaimana mestinya. </p>

    <br>
    <br>
    <table width="100%">
        <tr align="center" valign="top">
            <td>
                <p class="c10 c3">PENGGUNA JASA</p>
                <p class="c10 c3">Pejabat Pembuat Komitmen</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class="c10 c35">ZULFIKAR M. YAMIN L, ST</p>
                <p class="c10">Penata Tk. I</p>
                <p class="c10">NIP. 19810604 200903 1 009 </p>
            </td>
            <td>
                <p class="c10 c3">PENYEDIA BARANG / JASA </p>
                <p class="c10 c3">CV. MITRACOM MALANG </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class="c10 c35">FRANSISCUS XAVERIUS NURSETO</p>
                <p class="c10">Direktur </p>
            </td>
        </tr>
        <tr align="center" valign="top">
            <td colspan="2">
                <br>
                <p class="c10">Mengetahui : </p>
                <p class="c10">KEPALA DINAS &nbsp;</p>
                <p class="c10">PERUMAHAN, KAWASAN PERMUKIMAN DAN CIPTA KARYA <br> KABUPATEN MALANG </p>
                <p class="c10">selaku </p>
                <p class="c10 c3">Pengguna Anggaram</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class="c10 c35">Dr. Ir. BUDIAR, MS.i</p>
                <p class="c10">Pembina Utama Muda</p>
                <p class="c10">NIP. 19701119 199603 1 004</p>
            </td>
        </tr>
    </table>
</body>

</html>