<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        .c10 {
            font-size: 11pt;
            font-style: italic;
            font-weight: 700
        }

        .c2 {
            text-decoration-skip-ink: none;
            font-weight: 700;
            -webkit-text-decoration-skip: none;
            text-decoration: underline
        }

        .c17 {
            font-size: 11pt;
            font-weight: 700
        }

        .c01 {
            font-size: 10pt !important
        }

        p,
        td {
            margin: 0;
            color: #000000;
            line-height: 1.15;
            font-size: 11pt;
            font-family: "Times New Roman";
            font-weight: 400;
            text-decoration: none;
            font-style: normal
        }

        .c33 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }
    </style>
</head>

<body class="c33 doc-content">
    <table border="1" cellspacing="0" cellpadding="5">
        <tr valign="top">
            <td class="c01" width="55%">
                <span class="c17 c01">KEGIATAN : </span>Administrasi Umum Perangkat Daerah
                <br><span class="c17 c01">SUB KEGIATAN : </span>Penyediaan Peralatan dan Perlengkapan Kantor
            </td>
            <td align="center" class="c01 c17" valign="middle">
                BERITA ACARA
                <br> PERSETUJUAN PEMBAYARAN 100%
                <br> UNTUK PEKERJAAN PELAKSANAAN
            </td>
        </tr>
        <tr valign="top">
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr valign="top">
                        <td class="c01">Pekerjaan</td>
                        <td class="c01">&ensp;:&ensp;</td>
                        <td class="c01"> Pengadaan Toilet Portable Biorcih</td>
                    </tr>
                    <tr valign="top">
                        <td class="c01">Lokasi</td>
                        <td class="c01">&ensp;:&ensp;</td>
                        <td class="c01"> DPKPCK</td>
                    </tr>
                </table>
            </td>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr valign="top">
                        <td class="c01">Nomor</td>
                        <td class="c01">&ensp;:&ensp;</td>
                        <td class="c01">642/3.9.TU/35.07.111/2022</td>
                    </tr>
                    <tr valign="top">
                        <td class="c01">Tanggal</td>
                        <td class="c01">&ensp;:&ensp;</td>
                        <td class="c01">10 Agustus</td>
                    </tr>
                    <tr valign="top">
                        <td class="c01">Lampiran</td>
                        <td class="c01">&ensp;:&ensp;</td>
                        <td class="c01">Berita Acara Serah Terima Pekerjaan Pelaksanaan</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <p>Pada hari ini <span class="c17">Rabu </span>
        Tanggal <span class="c17">Sembilan </span>
        Bulan <span class="c17">Agustus </span>
        Tahun <span class="c10">Dua Ribu Dua Puluh Dua</span>,
        kami yang bertanda tangan dibawah ini : </span>
    </p>

    <p>I. Nama : ZULFIKAR M. YAMIN L, ST </p>
    <p>Jabatan : Kasubag Perencanaan, Evaluasi dan Pelaporan pada Dinas Perumahan, Kawasan Permukiman Dan Cipta Karya
        Kabupaten Malang selaku Pejabat Pembuat Komitmen </p>
    <p>Alamat Kantor : Jl. Trunojoyo Kav. VI Kepanjen - Kabupaten Malang </p>
    <p>Selajutnya disebutkan sebagai <span class="c17">PENGGUNA JASA</span>.</p>
    <br>
    <p>II. Nama : FRANSISCUS XAVERIUS NURSETO </p>
    <p>Jabatan : Direktur </p>
    <p>Alamat Kantor : Jl. Kedawung 95 Kav 1 RT 3 RW 7 Malang </p>
    <p>Selanjutnya disebut sebagai <span class="c17">PENYEDIA BARANG / JASA. </p>
    <p>Kedua belah pihak berdasarkan : </p>
    <p>1. Surat Perintah Kerja </p>
    <p>Nomor : 602/13.TU.SPMK/35.07.111/2022 </p>
    <p>Tanggal: 28 Juli 2022 </p>
    <p>2. Surat Perjanjian </p>
    <p>Nomor : 663/13.TU.PL.SPK/35.07.111/2022 </p>
    <p>Tanggal : 28 Juli 2022 </p>
    <p>3. Berita Acara Serah Terima Pekerjaan </p>
    <p>Nomor : 642/2.9.BK/35.07.111/2021 </p>
    <p>Tanggal : 9 Agustus 2022 </p>
    <br>

    <p>Berdasarkan Surat Perjanjian Kerja (Kontrak), maka PENYEDIA JASA berhak atas pembayaran sebesar 100 %
        (Seratus Prosen) dengan rincian :</p>
    <p class="c10">100 % &nbsp;X &nbsp;Rp. 115,440,000.00 = Rp. 115,440,000. 00 (Seratus Lima Belas Juta Empat Ratus
        Empat Puluh Ribu Rupiah)</p>
    <p>Demikian Berita Acara Persetujuan Pembayaran ini dibuat dan ditandatangani pada tanggal tersebut
        diatas, dalam rangkap secukupnya untuk dipergunakan sebagaimana mestinya.</p>

    <br>
    <br>
    <table width="100%">
        <tr align="center" valign="top">
            <td>
                <p class="c01 c17">PENGGUNA JASA</p>
                <p class="c01 c17">Pejabat Pembuat Komitmen</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class="c01 c2">ZULFIKAR M. YAMIN L, ST</p>
                <p class="c01">Penata Tk. I</p>
                <p class="c01">NIP. 19810604 200903 1 009 </p>
            </td>
            <td>
                <p class="c01 c17">PENYEDIA BARANG / JASA </p>
                <p class="c01 c17">CV. MITRACOM MALANG </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class="c01 c2">FRANSISCUS XAVERIUS NURSETO</p>
                <p class="c01">Direktur </p>
            </td>
        </tr>
        <tr align="center" valign="top">
            <td colspan="2">
                <br>
                <p class="c01">Mengetahui : </p>
                <p class="c01">KEPALA DINAS &nbsp;</p>
                <p class="c01">PERUMAHAN, KAWASAN PERMUKIMAN DAN CIPTA KARYA <br> KABUPATEN MALANG </p>
                <p class="c01">selaku </p>
                <p class="c01 c17">Pengguna Anggaram</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class="c01 c2">Dr. Ir. BUDIAR, MS.i</p>
                <p class="c01">Pembina Utama Muda</p>
                <p class="c01">NIP. 19701119 199603 1 004</p>
            </td>
        </tr>
    </table>
</body>

</html>